.rabbit-lyrics {
  /* font-size: 48px; */
  /* line-height: 50px; */
  font-size: 3.5em;
  line-height: 1.1em;
}

.button {
  height: 5em;
  line-height: 5em;
  vertical-align: middle;
}

#songTable {
  font-size: 1.5em;
  line-height: 1em;
  background-color: white !important;
  color: black !important;
}

body {
  /* padding: 25px; */
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: rgb(68, 68, 68) !important;
  color: rgb(218, 218, 218) !important;
}
